.title-unit {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: 3.5vw;
    margin: 0;
    margin-top: 2vw;
  }
}

.unit-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3vw;

}
